#corpoInicio{
   background-color: white; 
   background-image: url(../static/images/ELEMENTO1.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   min-height: 100vh;
}

#cabecalhoInicio{
    width: 100%;
    color: #f4f4f4;
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

#cabecalhoInicio .d-flex{
   margin-left: auto;
   gap: 6px;
   flex-wrap: wrap;
}

#logoheader{
    max-width: 180px;
    height: auto;
}
#entrarInicio,
#criarConta {
    font-size: clamp(0.8rem, 2vw, 1rem);
    padding: clamp(4px, 1vw, 6px) clamp(8px, 2vw, 12px);
    padding: 6px 12px;
    min-width: auto;
    flex: 1 1 auto;
    max-width: 200px;
    text-align: center;
}

#entrarInicio {
    background-color: white;
    color: #317a7e;
    border-color: #c4c4c4;
}
#entrarInicio:hover {
    background-color: #f6f7f7;
    border-color: #317a7e;
}

#criarConta {
    color: white;
    background-color: #317a7e;
    border-color: #317a7e;
}
#criarConta:hover {
    background-color: #205f63;
    border-color: #205f63;
}

#areasubtitulo{
   background-color: white;
   max-width: 1000px;
   margin-left: 40px;
   text-align: left;
}

 #subtituloarea{
   color: #205f63;
   font-family: Impact;
   font-size: clamp(1.8rem, 4.5vw, 3.2rem);
   font-weight: bold;
}

 #areaTexto{
   background-color: white;
   margin-left: 40px;
   max-width: 850px;
   border-radius: 10px;
   border: solid #c0c0c0;
   padding: 20px;
   text-align: left;
 }     

 #textoInicio{
   border-radius: 10px;
   font-family: Verdana;
   font-size: clamp(1rem, 2.5vw, 1.6rem); 
   line-height: 1.6;
   color: #205e63b7;
   text-align:justify;
}

@media (max-width: 768px) {
   #cabecalhoInicio {
       flex-direction: column;
       align-items: flex-start;
   }
   #logoheader {
      max-width: 100px;
       margin-bottom: 10px;
   }
   #entrarInicio, #criarConta {
       min-width: 100%;
       margin: 5px 0;
   }
   #areasubtitulo, #areaTexto  {
      max-width: 95%;
   }
}

#texto1{
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 200%;
}

/* PÁGINA ENTRAR */

#textoArea{
   border-color: #205f63;
   border-radius: 20px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#corpoEntrar{
   background-image: url(images/ELEMENTO3.png);
   background-size: auto;
   background-repeat: no-repeat;
   background-position: center;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}


#areaEntrar{
   background-color:white;
   max-width: 90%;
   width: 600px;
   max-height: 90vh;
   box-shadow: 10px, 10px, 10px, #1c232e;
   border-radius: 20px;
   overflow-y: auto;
}

img#setavoltar{
   width: 30px;
   height: 30px;
   margin-left: -180px;
}

#entrarBotao{
    background-color: white;
    color: #317a7e;
    border-color: #c4c4c4;
    width: 230px;
    position: relative;
    border-radius: 20px;
}
#entrarBotao:hover{
   background-color: #f6f7f7;
   color: #317a7e;
   border-color: #317a7e;
   width: 230px;;
   border-radius: 20px;
}

#logoGoogle{
   width: 35px;
   height: 35px;
}
#tituloEntrar{
   margin-left: 0px;
   font-family: Verdana;
   font-size: x-large;
   font-weight: bold;
   color: #317a7e;
   text-align: center;
}


#textoEntrar{
   margin-left: 0px;
   font-family: Verdana;
   font-size: 0.48cm;
}

#inputUser{
   width: 400px;
   margin-left: 40px;
}

#logoNexus{
  width: 136px;
  height: 70px;
  margin-left: 30px;
  margin-right: -120px;
}

#textoEntrar2{
   margin-top: -20px;
   font-family: Verdana;
   font-size: 0.48cm;
}
#iconeOlho{
   width: 20px;
   height: 20px;
}
#mostrarSenha{
   width: 40px;

}
#botaoEntrar{
    background-color: white;
    color: #317a7e;
    border-color: #c4c4c4;
    width: 120px; 
    height: 40px;
    position: relative;
    font-size: large;
    text-align: center;
}
#botaoEntrar:hover{
    background-color: #f6f7f7;
    color: #317a7e;
    border-color: #317a7e;
    width: 120px; 
    height: 40px;
    position: relative;
    font-size: large;
    text-align: center;
}
   /* PÁGINA CONTINUAR COM GOOGLE*/
   #corpoContinuarGoogle{
   background-image: url(images/ELEMENTO4.png);
   background-size: auto;
   background-repeat: no-repeat;
   background-position: center;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
#tituloContinuarGoogle{
   margin-left: 0px;
   font-family: Verdana;
   font-size: x-large;
   font-weight: bold;
   color: #317a7e;
   text-align: center;
}

/* PÁGINA INDEX*/
#cabecalhoIndex{
   background-color: #0B6265;
   color: white;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   width: 100%;
   border-bottom: 6px solid transparent;
   background-image:
       linear-gradient(#0B6265, #0B6265),
       linear-gradient(to bottom, #0B6265, #ffffff);
   background-origin: padding-box, border-box;
   background-clip: padding-box, border-box;
}
#degradeCabecalhoIndex{
 height: 10px;
 width: 100%;
 background: linear-gradient(to bottom, #317a7e, #ffffff);
}

#bot{
   width: 300px;
   margin-left: 110px;
}

#allcontainer {
  display: flex;            
  justify-content: center; 
  align-items: flex-start; 
  gap: 5px;                
  margin-top: 20px;
}

#container,
#container2{
   width: 350px;
   height: 50px;
   align-items: center;
   margin-left: 10px;
   margin-bottom: 0px;
}


.input-icon{
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 100%;
   min-width: 40px;
   min-height: 40px;
   color: #1c232e;
   background-color: #0B6265;
}

#procu, #loca{
   font-size: 20px;  
}

.input-field{
   border: none;
   background-color: transparent;
}

.input-field:focus{
   outline: none;
}


.input-group{
   display: flex;
   align-items: center;
   background-color: #ffffff;
   padding: 8px 16px 8px 8px;
   border-radius: 24px;
   gap: 8px;
   margin-top: -30px;
}

#no_results{
   display: none;
   text-align: center;
}

#navIndex{
   margin-top: 20px;
   margin-bottom: 20px;
   width: 100%;
   font-size: large;
   font-weight: bold;
}

#container2 p#span{
   display: none;
}

#h2#textv{
   text-align: center;
   color: #205f63;
   margin-top: 20px;
   margin-bottom: 10px;
}